img {
	width: 350px;
}


.container-wide {
	padding: 0 5%;
}


.flex {
	display: flex;
	flex-wrap: wrap;
}


.justify-between {
	justify-content: space-between;
}


.align-center {
	align-items: center;
}


body {
	color: #191919;
}


.title {
	font-size: 30px;
	text-align: center;
}


.description {
	color: #787878;
	font-family: "NunitoSans-Regular";
	text-align: center;
	line-height: 24px;
	margin: 37px 0;
}

header {
	margin-top: 35px;
}

#logo {
	width: 100px;
}

#menu-nav li {
	text-transform: uppercase;
	font-size: 12px;
	margin-right:0px;
}




#menu-nav li:hover, #menu-nav li.active {
	color: #10C9C3;
}


#banner-wrapper {
	position: relative;
	top: -63px;
	z-index: -1;
}


#signature-img {
	width: 220px;
	display: block;
	margin: auto;
}



#about-wrapper {
	margin: auto;
	padding: 37px 0 100px 0;
}


@media screen and (min-width: 0px) {


	#about-wrapper {
		width: 80%;
	}

	#menu-nav li {
		margin-right: 20px;
	}

}


@media screen and (min-width: 426px) {


}


@media screen and (min-width: 768px) {

	#about-wrapper {
		width: 60%;
	}

	#menu-nav li {
		margin-right: 30px;
	}

}

@media screen and (min-width: 992px) {


@media screen and (min-width: 1200px) {


	#about-wrapper {
		width: 45%;
	}

}

#black {
	color: black;
}

